amqp
asgiref
billiard
celery
certifi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
crispy-bootstrap5
distlib
Django
django-cors-headers
django-crispy-forms
django-email
django-environ
django-filter
djangorestframework
EasyProcess
entrypoint2
filelock
gunicorn
idna
kombu
Markdown
MouseInfo
mss
numpy
opencv-contrib-python
packaging
pillow
pipenv
platformdirs
prompt_toolkit
psycopg2
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
pyscreenshot
PyScreeze
python-dateutil
pytweening
pytz
redis
requests
setuptools
six
sqlparse
sslcommerz-lib
tzdata
urllib3
vine
virtualenv
wcwidth
whitenoise